<h1>Create a new student:</h1>
  <form ng-submit="students.addStudent()" id="newStudent">
    <fieldset class="form-group">
      <label for="newStudent-studentName">Student Name:</label>
      <input type="text" id="newStudent-studentName" ng-model="students.newStudent.studentName" placeholder="Student Name">
    </fieldset>
    <fieldset class="form-group">
      <label for="newStudent-parentName">Parent Name:</label>
      <input type="text" id="newStudent-parentName" ng-model="students.newStudent.parentName" placeholder="Parent Name">
    </fieldset>
   <fieldset class="form-group">
      <label for="newStudent-address">Address:</label>
      <input type="text" id="newStudent-address" ng-model="students.newStudent.address" placeholder="Address">
    </fieldset>
    <fieldset class="form-group">
      <label for="newStudent-email">Email:</label>
      <input type="text" id="newStudent-email" ng-model="students.newStudent.email" placeholder="Email">
    </fieldset>
    <fieldset class="form-group">
      <label for="newStudent-phoneNumber">Phone Number:</label>
      <input type="text" id="newStudent-phoneNumber" ng-model="students.newStudent.phoneNumber" placeholder="Phone Number">
    </fieldset>
    <fieldset class="form-group">
      <label for="newStudent-lessonDay">Lesson Day:</label>
      <input type="text" id="newStudent-lessonDay" ng-model="students.newStudent.lessonDay" placeholder="Lesson Day">
    </fieldset>
    <fieldset class="form-group">
      <label for="newStudent-lessonTime">Lesson Time:</label>
      <input type="text" id="newStudent-lessonTime" ng-model="students.newStudent.lessonTime" placeholder="Lesson Time">
    </fieldset>
    <div>
      <input type="submit" value="Add Student">
    </div>
  </form>


